@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin-top: 0;
  font-family: -apple-system, autummn whispers;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffbb00;
  /* background: linear-gradient(to top, #8338ec 0%, #ffbb00 100%); */
}

h1 {
  color: #8338ec;
  margin-bottom: 50px;
}

h4 {
  color: #ff5500;
}

button {
    color: #3a86ff;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border-color: #e6e6e6;
    margin-top: 15px;
}
